 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1117px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 62px 177px 0 19px;
}

.u-section-1 .u-image-1 {
  width: 1064px;
  height: 629px;
  margin: 53px auto 0 19px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 1011px;
  margin: -108px 0 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 23.25px));
  min-height: 213px;
  grid-gap: 31px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-2 {
  font-weight: 500;
  font-size: 1.375rem;
  margin: 10px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-3 {
  font-weight: 500;
  font-size: 1.375rem;
  margin: 10px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-4 {
  font-weight: 500;
  font-size: 1.375rem;
  margin: 10px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 19px;
}

.u-section-1 .u-text-5 {
  font-weight: 500;
  font-size: 1.375rem;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 158px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 880px;
    height: 556px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 900px;
    margin-top: -35px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 217px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1305px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 664px;
    height: 490px;
  }

  .u-section-1 .u-list-1 {
    width: 664px;
    margin-top: -62px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15.5px));
    min-height: 486px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1169px;
  }

  .u-section-1 .u-image-1 {
    width: 510px;
    height: 400px;
  }

  .u-section-1 .u-list-1 {
    width: 500px;
    margin-top: -42px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1371px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 55px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 267px;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 300px;
    margin-top: -25px;
    margin-right: auto;
    margin-bottom: 54px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 855px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-2 {
  min-height: 957px;
}

.u-section-2 .u-shape-1 {
  height: 465px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-shape-2 {
  width: 471px;
  height: 713px;
  margin: -403px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-2 .u-image-1 {
  width: 681px;
  height: 622px;
  margin: -668px calc(((100% - 1140px) / 2) + 56px) 0 auto;
}

.u-section-2 .u-group-1 {
  width: 471px;
  min-height: 438px;
  background-image: none;
  height: auto;
  margin: -377px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 71px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 45px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-2 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-image-1 {
    height: 623px;
    margin-right: calc(((100% - 940px) / 2) + 56px);
  }

  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-2 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-image-1 {
    width: 581px;
    margin-right: calc(((100% - 720px) / 2) + 39px);
  }

  .u-section-2 .u-group-1 {
    width: 373px;
    min-height: 534px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 912px;
  }

  .u-section-2 .u-shape-2 {
    width: 417px;
    height: 509px;
    margin-top: -405px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-image-1 {
    width: 419px;
    height: 397px;
    margin-top: -453px;
    margin-right: calc(((100% - 540px) / 2) + 52px);
  }

  .u-section-2 .u-group-1 {
    width: 348px;
    min-height: 499px;
    margin-top: -160px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 911px;
  }

  .u-section-2 .u-shape-2 {
    width: 272px;
    height: 387px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-1 {
    width: 294px;
    height: 317px;
    margin-top: -350px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    min-height: 485px;
    margin-top: -48px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-image: none;
  min-height: 944px;
}

.u-section-3 .u-image-1 {
  height: 670px;
  margin-top: 26px;
  margin-bottom: 0;
}

.u-section-3 .u-group-1 {
  min-height: 346px;
  width: 457px;
  height: auto;
  margin: -173px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0 0;
}

.u-section-3 .u-text-1 {
  margin: 0 22px 0 52px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px 21px 0 51px;
}

.u-section-3 .u-text-3 {
  margin: 24px 91px 0 120px;
}

.u-section-3 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 151px;
  padding: 15px 50px 15px 48px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 901px;
  }

  .u-section-3 .u-image-1 {
    height: 596px;
  }

  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    height: 552px;
  }

  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    height: 504px;
  }

  .u-section-3 .u-group-1 {
    min-height: 406px;
    width: 450px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 62px;
    margin-right: 33px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 34px;
  }
} .u-section-4 {
  min-height: 621px;
}

.u-section-4 .u-shape-1 {
  height: 314px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-4 .u-text-1 {
  text-align: center;
  margin: -254px auto 0;
}

.u-section-4 .u-list-1 {
  width: 1140px;
  margin: 41px auto 2px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 479px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 4px 0;
}

.u-section-4 .u-image-1 {
  width: 222px;
  height: 285px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 12px 30px 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 4px 0;
}

.u-section-4 .u-image-2 {
  width: 222px;
  height: 285px;
  object-position: 50% 94.17%;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: 12px 30px 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 4px 0;
}

.u-section-4 .u-image-3 {
  width: 222px;
  height: 285px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 12px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    width: 940px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    min-height: 456px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1048px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 96px;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 378px;
  }
} .u-section-6 {
  background-image: none;
  min-height: 474px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-image-1 {
  min-height: 474px;
  background-image: url("images/infralogo-removebg-preview.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 474px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 27px;
}

.u-section-6 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-6 .u-form-1 {
  height: 237px;
  margin: 30px 0 0 6px;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.125rem;
  padding: 10px 173px 10px 171px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 412px;
  }

  .u-section-6 .u-image-1 {
    min-height: 391px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-6 .u-form-1 {
    width: 410px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    width: 100%;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 309px;
  }

  .u-section-6 .u-image-1 {
    min-height: 599px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 712px;
  }

  .u-section-6 .u-image-1 {
    min-height: 449px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 545px;
  }

  .u-section-6 .u-image-1 {
    min-height: 283px;
  }

  .u-section-6 .u-form-1 {
    width: 320px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 88px;
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 378px;
  }
}